div(style='width:100%;height:768px;background:#fff url("/img/bg0.png") center no-repeat')
    div(style='height:0px;padding-top:100px;')
    div(style='width:510px;height:398px;background-color:#F2F2F2;margin:auto;')
        div(style='color:#70C846;font-size:14px;height:30px;padding-left:20px;padding-top:10px;')
            span 注册帐号
        div(style='text-align:right;padding-right:5px;color:#70C846;')
            a(href='../',style='color:#70C846;') 已有帐号登录
                span.glyphicon.glyphicon-log-in(style='color:#69B850')
        div(style='margin:0;padding:0;width:100%;height:1px;background-color:#E4E4E4;overflow:hidden;margin-top:10px;')
        div.weui-cells.weui-cells_checkbox.wa-center.we-cells-bc(style='margin-top:0;')
            label.weui-cell.inline-block.weui-check_label.we-mb(for='userPerson')
                label.weui-cell_hd
                    input.weui-check(
                    id='userPerson',
                    ng-value='false',
                    ng-model='radioValue',
                    type='radio',
                    ng-init='radioValue=false;')
                    i.weui-icon-checked
                label.weui-cell-bd
                    p 个人
            label.weui-cell.inline-block.weui-check_label.we-mb(for='userVendor')
                label.weui-cell_hd
                    input.weui-check(
                    id='userVendor',
                    ng-model='radioValue',
                    ng-value='true',
                    type='radio')
                    i.weui-icon-checked
                label.weui-cell-bd
                    p 企业
            form.wa-left(name='form',style="margin-top:-1.17647em;",novalidate="novalidate")
                div
                    div.weui-cells.weui-cells_form.we-cells-bc(ng-show="radioValue")
                        div.weui-cell(ng-class="{true:'weui-cell_warn',false:''}[form.name.$error.required]")
                            div.weui-cell__hd.we-hd-ml
                                label.weui-label 企业名称
                            div.weui-cell__bd.we-wleft
                                input.weui-input.we-border(
                                name='name',
                                ng-model='vendor.name',
                                ng-model-options="{ updateOn: 'blur' }",
                                placeholder="企业名称,必须填写",
                                required)
                            div.weui-cell__ft(ng-show='form.name.$error.required')
                                i.weui-icon-warn
                    div.weui-cells.weui-cells_form.we-cells-bc
                        div.weui-cell(ng-class="{true:'weui-cell_warn',false:''}[form.userName.$error.required||form.userName.$error.existUserName]")
                            div.weui-cell__hd.we-hd-ml
                                label.weui-label 用户名
                            div.weui-cell__bd.we-wleft
                                input.weui-input.we-border(
                                name='userName',
                                ng-model='vendor.userName',
                                placeholder="请输入帐号",
                                ng-model-options="{ updateOn: 'blur' }",
                                exist-user-name,
                                required)
                            div.weui-cell__ft(ng-show='form.userName.$error.required')
                                i.weui-icon-warn

                    div.weui-cells.weui-cells_form.we-cells-bc
                        div.weui-cell(ng-class="{'weui-cell_warn':vendor.userPassword != vendor.userPasswordConfirm}")
                            div.weui-cell__hd.we-hd-ml
                                label.weui-label 密码
                            div.weui-cell__bd.we-wleft
                                input.weui-input.we-border(
                                name='userPassword',
                                ng-model='vendor.userPassword',
                                type="password",
                                placeholder="密码",
                                required)
                    div.weui-cells.weui-cells_form.we-cells-bc
                        div.weui-cell(ng-class="{'weui-cell_warn':(vendor.userPassword != vendor.userPasswordConfirm) && form.userPasswordConfirm.$dirty}")
                            div.weui-cell__hd.we-hd-ml
                                label.weui-label 确认密码
                            div.weui-cell__bd.we-wleft
                                input.weui-input.we-border(
                                name='userPasswordConfirm',
                                ng-model='vendor.userPasswordConfirm',
                                type="password",
                                placeholder="确认密码",
                                required)
                    div.weui-cells.weui-cells_form.we-cells-bc
                        label.weui-cell.we-checkbox
                            label.weui-cell_hd(style='margin-left:100px;')
                                input(
                                style="margin-bottom:13px;",
                                ng-model='vendor.agreeOrNot',
                                type='checkbox')
                            label.weui-cell-bd
                                p(style='font-size:12px;') 我已阅读并同意《创新平台使用协议》
                    div.weui-btn-area.we-btn-area
                        button.weui-btn.weui-btn_primary.btn.myaw.we-btn(ng-disabled="!(vendor.agreeOrNot) ||!vendor.userPassword||(vendor.userPassword != vendor.userPasswordConfirm)||(radioValue && !(vendor.name))",ng-click='registerSubmit(vendor)') 确定