header.bar.bar-nav
    a.fa.fa-arrow-left.we-myfa(href="#/info",style="float:left;")
    span.title(style='width:70%;margin-left:30px;') 个人信息修改
.scrollable
    .scrollable-content.section
        .form-group.hide
            label(name='password') 原始密码
            input.form-control(type='password',
            name='password',
            ng-model='user.password',
            placeholder='请输入原始密码',
            )
        form(role='form', ng-submit='submitPWD(user);', name="form")

            .form-group.has-feedback
                label(name='newPassword') 新密码
                input.form-control(type='password',
                name='newPassword',
                ng-model='user.newPassword',
                placeholder="请输入新密码",
                ng-minlength='5',
                compare-password='user.repeatPassword')
            .help-block(ng-show='form.newPassword.$error.minlength')
                span.text-danger 密码必须大于或等于5位
            .form-group.has-feedback
                label(name='repeatPassword') 确认密码
                input.form-control(type='password',
                name='repeatPassword',
                ng-model='user.repeatPassword',
                placeholder="请重复输入新密码",
                ng-minlength='5',
                compare-password='user.newPassword')
                p {{form.repeatePassword.$error.passwordConfirm}}
            .help-block(ng-show='form.repeatPassword.$error.passwordConfirm')
                span.text-danger 两次密码输入不同

            button.btn.btn-success.btn-block(
            ng-disabled='!form.newPassword.$dirty||form.$invalid||user.newPassword!=user.repeatPassword')
                | {{submitting}}
