include ../../../../common/header
form(name='form',style="margin-top:2.97rem;",novalidate="novalidate")

    div.weui-cells.weui-cells_form
        div.weui-cell(ng-class="{true:'weui-cell_warn',false:''}[(form.name.$error.existUserName||form.name.$error.required)&&form.name.$dirty]")
            div.weui-cell__hd
                label.weui-label 名称
            div.weui-cell__bd
                input.weui-input(
                            name='name',
                            ng-model='action.name',
                            ng-model-options="{ updateOn: 'blur' }",
                            placeholder="字段名称,必须填写",
                            ng-init="action.name ='"+ action.name+"'",
                            required,
                            exist-user-name,)
            div.weui-cell__ft(ng-show='form.name.$error.existUserName||form.name.$error.required')
                i.weui-icon-warn
    div.weui-cells__title 描述
    div.weui-cells.weui-cells_form
        .weui-cell
            .weui-cell__bd
                textarea.weui-textarea(
                name='remark',
                ng-model='action.remark',
                placeholder="字段描述",
                ng-init="action.remark ='"+ action.remark+"'",
                rows=3)
    div.weui-btn-area
        a.weui-btn.weui-btn_primary.btn.myaw(ng-disabled="form.$invalid&&form.name.$dirty",ng-click='actionUpdate("'+action.name+'",action)') 确定
        a.weui-btn.weui-btn_default.btn.myab(ng-click="cancelUpdate('"+action.name+"')") 取消
